.price {
	white-space: nowrap;
	word-spacing: -0.1em;
	display: inline-block;
}

.price__cost {
}

.price__currency {
	margin-left: 0.15em;
}


.price_old {
	color: #ff0000;
	text-decoration: none;
}

.price_old .price__cost {
	text-decoration: line-through;
}

.price_old .price__currency {
}
